$primary-color:#014F86;
$secondary-color:#660708;
.home-header {
    background: $primary-color;
    width:100%;
    height:50vh;
    display:flex;
    justify-content: center;
    color:white;
    
    h1 {
        margin:0;
        padding-top:1em;
    }
}

.site-description{
    
    width:auto;
    height:100%;
    text-align:center;
    letter-spacing:0.1em;
    padding:4em 1em 1em 1em;
    
    p{
        margin:1em 0 0 0;
        
    }

    strong{
        font-size:0.9em;
       
    }
}

.desktop-view{
    display:contents;
}

.filter{
    padding:3rem 1em 0 1em ;
    flex-direction: column;
    display:flex;
    align-items: flex-start;
    select,input,button {
        margin:1em 0 ;
        padding:.5em;
    }

    select{
        option:hover {
            background:black;
        }
    }

    select,input {
        width:80%;
        font-family: "Sora", sans-serif;
    }
    input{
        

        border: none;
        padding: 10px 0;
        border-bottom: solid 1px $secondary-color;
        transition: all 0.3s cubic-bezier(.64,.09,.08,1);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $secondary-color 4%);
        background-position: -100vw 0;
        background-size:100%;
        background-repeat: no-repeat;
        color: darken($secondary-color, 20%);
        &:focus, &:valid {
            box-shadow: none;
            outline: none;
            background-position: 0 0;
            
            &::-webkit-input-placeholder {
              color: $secondary-color;
              font-size: 11px;
              transform: translateY(-20px);
              visibility: visible !important;
            }
          }
        
    }

    select {
        border: none;
        padding: 10px 0;
        border-bottom: solid 1px $secondary-color;
        transition: all 0.3s cubic-bezier(.64,.09,.08,1);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $secondary-color 4%);
        background-position: -100vw 0;
        background-size:100%;
        background-repeat: no-repeat;
        color: darken($secondary-color, 20%);
        &:focus {
            box-shadow: none;
            outline: none;
            background-position: 0 0;

          }
    }
    button {
        border-radius:10px;
        border:none;
        color:white;
        background: $secondary-color;
        padding:0.6rem;
    }

}


input::-webkit-input-placeholder, select::-webkit-input-placeholder{
    transition: all 0.3s ease-in-out;
  }


.cards {
    padding:0 1em 5rem 1em;
    
    height:100%;

}

.card {
    display:flex;
    flex-direction: column;
    margin: 3em 0 5em 0;
    width:100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    h2 {
        text-align:left;
        padding-left:0.5rem;
    }
    
    .card-bot {
        padding-bottom:1em;
       
    }
    

    #card-img {
        height:auto;
        width:100%;
        
    }

    p {
        text-align:center;
    }

    button {
        border-radius:15px;
        width:20%;
        border:0;
        color:white;
        background: #660708;
        padding:0.5em;
        margin-left:0.5em;
    }

   
}





// Media queries

@media (min-width:768px){
    .home-header {
        height:45vh;
    }

    .filter{
        padding:3em 0 0 1.2rem;
        width: 75%;
        flex-direction: row;
        justify-content: space-around;
        align-items: normal;
        select,input {
            width:35%

        }
        button {
            padding: 0.4em .6em;
            width:10%;
            height:40%;
            margin:2em 0 0 0 ;

        }
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
    }
    .card {
        width:45%;
        height:100%;
        
        .card-bot {
            display: flex;
            flex-direction: column;
            height: 12em;
            h2 {
                font-size:1.2em;
            }
        }
        img {
            height:11em !important;
        }
        .button-container{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height:100%;
        }
     
    }
    
}

@media (min-width:1024px){
    .home-header{
        height:70vh;
        
    }

    main{
        display: flex;
        flex-direction:row-reverse;
    }
    .site-description{
        width:33%;
        text-align:left;
        h1{
            font-size:1.3em;
            text-align:left;
            margin:0;
            letter-spacing:0.2em;

        }
        h1:after {
                content: " ";
                margin-top: 20px;
                display: block;
                border: 1px solid $secondary-color;
                max-width:66%;
            }
    }
    .desktop-view{
        display: block;
        width:66%;
        padding-left:2%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    
    .card {
        height:auto;
    }
    .cards {
        padding:0;
        height:auto;
    }
    .filter {
        padding-top:2em;
        padding-left:0.4rem;
    }

    .fixed {
        position:sticky;
        top:50px;
    }
}

@media (min-width:1800px){
    .card{
        width:40%;
    }
    .filter{
        padding-left:2.8em;
    }
}