<header class="home-header">
  <h1>Judo Moves</h1>
  <p></p>
</header>

<main>
  <section class="site-description">
    <p>
      Judo is a popular sport and martial art created by Professor Jigoro Kano. 
      The name Judo was chosen because it means the “gentle or yielding way”.
      It was introduced into the Olympic Games in 1964.
      <br>
      <br/>
      Judo has a number of different throwing, grapping, holding techniques
      which are divied by the different (waza) technique  names.
    </p>
  </section>
  <section class="filter">
   
    <select >
      <option>Wazas (Techniques)</option>
      <option disabled>Throwing Techniques / Nage-Waza</option>
      <option disabled>Tachi-Waza (Standing Techniques) </option>
      <option>Te-Waza (Hand Techniques)</option>
      <option>Ashi-Waza (Foot Techniques)</option>
      <option>Koshi-Waza (Hip Techniques)</option>
      <option disabled>Sutemi-Waza (Sacrifice Techniques)</option>
      <option>Ma-Sutemi-Waza (Back Sacrifice)</option>
      <option>Yoko-Sutemi-Waza (Side Sacrifice)</option>
      <option disabled>Grappling Techniques / Katame-Waza</option>
      <option>Osaekomi-Waza (Pinning Techniques)</option>
      <option>Shime-Waza (Choking Techniques)</option>
      <option>Kansetsu-Waza (Joint Locking Techniques)</option>
    </select>
    <input required="" placeholder="Name of Judo move" type="text"/>
  
    <button>Apply</button>
  </section>

  <section class="cards">
    
      <div class="card" *ngFor="let move of judo">
        
        <img src={{move.img}} srcset="" id="card-img" />
        <div class="card-bot">
          <h2>{{move.name}}</h2>
          <p>
            {{move.description}}
          </p>
          <button routerLink="../detail/{{move.id}}">See full</button>
        </div>
      </div>
      


  </section>
</main>

<footer></footer>
