<header class="home-header">
  <span id="header-img">
    <h1>The Standard Syllabus of Judo</h1>
  </span>
</header>

<main>
  <section class="site-description" [ngClass]="{'fixed': 'isSticky'}">
    <h1>A list to see most of the Judo techniques.</h1>
    <p>
      Judo is a popular sport and martial art created by Professor Jigoro Kano. 
      The name Judo was chosen because it means the “gentle or yielding way”.
      It was introduced into the Olympic Games in 1964.
      <br>
      <br/>
      Judo has a number of different throwing, grapping, holding techniques
      which are divied by the different (waza) technique  names.
    </p>
  </section>
  <section class="desktop-view">
  <section class="filter">
   
    <select [(ngModel)]="category">
      <option selected value="0">All Wazas (Techniques)</option>
      <option disabled>Throwing Techniques / Nage-Waza</option>
      <option value="1">Te-Waza (Hand Techniques)</option>
      <option value="2">Koshi-Waza (Hip Techniques)</option>
      <option value="3">Ashi-Waza (Foot Techniques)</option>
      <option value="4">Ma-Sutemi-Waza (Back Sacrifice)</option>
      <option value="5">Yoko-Sutemi-Waza (Side Sacrifice)</option>
      <option disabled>Grappling Techniques / Katame-Waza</option>
      <option value="6">Osaekomi-Waza (Pinning Techniques)</option>
      <option value="7">Shime-Waza (Choking Techniques)</option>
      <option value="8">Kansetsu-Waza (Joint Locking Techniques)</option>
    </select>
    <input required="" placeholder="Name of Judo move" type="text"/>
  
    <button (click)="filter()">Apply</button>
  </section>

  <section class="cards">
    
      <div class="card" *ngFor="let move of judo">
        
        <img src={{move.img}} srcset="" id="card-img" />
        <div class="card-bot">
          <h2>{{move.name}}</h2>
          <p>
            {{move.description_title}}
          </p>
          <div class="button-container">
            <button routerLink="../detail/{{move.id}}">See full</button>
          </div>
         
        </div>
      </div>
      


  </section>
</section>
</main>


