<header class="home-header">
  <h1>Judo Moves</h1>
  <p></p>
</header>

<main>
  <section class="site-description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti dolorum
      numquam maxime corporis, porro neque reprehenderit amet assumenda, esse
      qui consequuntur. Cupiditate labore doloribus quos quasi, ipsam
      voluptatibus alias nostrum.
    </p>
  </section>
  <section class="filter">
    <select>
      <option>One</option>
      <option>Two</option>
      <option>Three</option>
      <option></option>
      <option></option>
      <option></option>
      <option></option>
      <option></option>
    </select>
    <input />
    <button>Search</button>
  </section>

  <section class="cards">
    
      <div class="card">
        <h2>Name</h2>
        <img src="../../assets/Poster.jpg" srcset="" id="card-img" />
        <div class="card-bot">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad
            sapiente, vel officiis molestiae modi voluptatibus? Vit
          </p>
          <button routerLink="../detail/1">See full</button>
        </div>
      </div>
      


    <div class="card">
      <h2>Name</h2>
      <img src="../../assets/Poster.jpg" srcset="" id="card-img" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sapiente,
        vel officiis molestiae modi voluptatibus? Vit
      </p>
      <button routerLink="../details/1"></button>
    </div>
  </section>
</main>

<footer></footer>
