main {
    padding:2em;
    margin-bottom: 2rem;
}

.video{
    height: 40vh;
    border:1px solid black;
    width:100%
}

.description {
    padding:1em 0;
    letter-spacing:0.1em;

}

.img {
    img{
    width:100%;
    height:auto;
    }
}