<main>
    <article>
        <section class="video"></section>
        <section class="description">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae itaque, corrupti iste tempora explicabo autem, quis deserunt commodi quidem non distinctio voluptatem velit modi recusandae! Provident, adipisci cumque! In, minus!
            </p>
        </section>
        <section class="img">
            <img src="../../assets/Poster.jpg" alt="" srcset="">
        </section>
    </article>
</main>